.cover__link {
  display: flex;
  flex-direction: column;
  aspect-ratio: 16/10;
  text-decoration: none;
  color: white;
  background: rgba(42, 44, 47, 0.3);
  transition: all .3s;
  justify-content: flex-start;
  }

.cover__link:hover {
  background: rgba(42, 44, 47, 0.8);
}