.header {
  max-width: 1184px;
  display: flex;
  margin: 0 auto 56px auto;

  padding-top: 28px;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .header {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: calc(100% - 96px);
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100% - 48px);
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: calc(100% - 32px);
    max-height: 42px;
    padding-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}