.place__paragraph {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
}

.place__paragraph:nth-of-type(1n) {
  margin-bottom: 26px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 29.34px;
   }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
   }
}

  @media screen and (max-width: 660px) {
  .place__paragraph {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
    line-height: 26px;
   }
}